<header class="header header--double">
  <h1><%= t('admin_nav.page_meta_tags') %></h1>
</header>

<section class="section section--6 section--double users">
	<table class="clear-admin-agent-styles table datatable table__icon--4">
		<thead>
			<tr class="table__head--wrap">
		    <th class="table__head col col--1"><%= tf('page_meta_tag.title') %></th>
		    <th class="table__head col col--1"><%= t('actions') %></th>
		  </tr>
		</thead>

		<tbody>
			<% @page_meta_tags.each do |page_meta_tag| %>
	  		<tr class="table__item--wrap">
		      <td class="table__item col col--2 account--activity">
				<%= page_meta_tag.title %>
		      </td>
		      <td class="table__item table__icon--wrap col col--1">	
					<%= link_to admin_page_meta_tag_path(page_meta_tag), class: "table__icon" do %>
						<%= inline_svg "icons/eye-ban-18.svg" %>
					<% end %>
		      </td>
			</tr>
		  <% end %>
		</tbody>
	</table>
</section>

<script>
	init_datatable({lang: "<%= I18n.locale %>"});
</script>
