<div id="o-nama" class="about">
    <h2 class="about__title"><%= t('pages_nav.about') %></h2>
    <article class="about__text">
        <!-- <%= @page_content.about_project.html_safe %>  -->
        <p>
            I'm Brian, and so's my wife! The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king. I don't want to talk to you no more, you empty-headed animal food trough wiper! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Are you suggesting coconuts migrate?
        </p>
        <p>
            Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
        </p>
        <p>
            Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.
        </p>

        <ul class="accordion">
            <li class="accordion__item">
                <div class="read-more">
                    <p class="js-accordion__head read-more__button">
                        Pročitaj više
                    </p>
                </div>

                <p class="js-accordion__body">Lorem ipsum dolor sit amet, mel an solet nominati, mel ea mundi adipisci reprehendunt. Decore euripidis an pro. Et has lorem dicta docendi, primis mollis facilis cum no. Veniam legimus signiferumque mea in. Magna mundi te est. Animal neglegentur usu ad, eam duis nonumes ceteros an. Quo no oporteat consulatu. Error consul principes eum no, an pro error erant. Nec in saepe iracundia comprehensam. Eu mel molestie sensibus prodesset, et sea impetus vidisse. Te eum minim eripuit posidonium, graece platonem posidonium cum ea. In causae lobortis cont</p>
            </li>
        </ul>

    </article>

    <div id="myGallery"  class="about-gallery">

        <!-- <%= render 'home/gallery' if @page_content.gallery_images.any? %> -->

        <!-- <div class="about-gallery__image">
            <%= image_tag("dummy/trg.jpg") %>
        </div> 

        <div class="about-gallery__image">
            <%= image_tag("dummy/trg.jpg") %>
        </div>

        <div class="about-gallery__image">
            <%= image_tag("dummy/trg.jpg") %>
        </div> -->

            <a href="<%= asset_url("dummy/trg.jpg") %>">
                <div class="about-gallery__image">
                    <%= image_tag("dummy/trg.jpg") %>
                </div>
            </a>

            <a href="<%= asset_url("dummy/trg.jpg") %>">
                <div class="about-gallery__image">
                    <%= image_tag("dummy/trg.jpg") %>
                </div>
            </a>

            <a href="<%= asset_url("dummy/trg.jpg") %>">
                <div class="about-gallery__image">
                    <%= image_tag("dummy/trg.jpg") %>
                </div>
            </a>


                

                <a href="<%= asset_url("dummy/trg.jpg") %>">
                    <div class="about-gallery__image about-gallery__image--blue-filter">
                        <%= image_tag("dummy/trg.jpg") %>
                        <h1 class="image-number">
                            +8
                        </h1>
                    </div>
                </a>

                <a class="gallery__image--invisible" href="<%= asset_url("dummy/trg.jpg") %>">
                    <div class="about-gallery__image about-gallery__image--blue-filter">
                        <%= image_tag("dummy/trg.jpg") %>

                    </div>
                </a>

                <a class="gallery__image--invisible"  href="<%= asset_url("dummy/trg.jpg") %>">
                    <div class="about-gallery__image about-gallery__image--blue-filter">
                            <%= image_tag("dummy/trg.jpg") %>
                    </div>
                </a>

                <a class="gallery__image--invisible"  href="<%= asset_url("dummy/trg.jpg") %>">
                    <div class="about-gallery__image about-gallery__image--blue-filter">
                            <%= image_tag("dummy/trg.jpg") %>
                    </div>
                </a>

                <a class="gallery__image--invisible"  href="<%= asset_url("dummy/trg.jpg") %>">
                    <div class="about-gallery__image about-gallery__image--blue-filter">
                            <%= image_tag("dummy/trg.jpg") %>
                    </div>
                </a>           
        </div>
    </div>
</div>




<script>
    document.addEventListener('DOMContentLoaded', function() {
    const gallery = document.getElementById('myGallery');
    if (gallery) {
        lightGallery(gallery, {
            closable: true,
            download:false,

            animateThumb: false,
            zoomFromOrigin: false,
            allowMediaOverlap: true,
            toggleThumb: true,
        });
    }
    });
</script>

<style>
.lg-toolbar .lg-close::after {
  content: 'X';
  font-family: "Raleway", sans-serif;
  color: #0077AE;
  font-weight: 1000;
}

.lg-next::before {
  content: '>';
  font-family: "Raleway", sans-serif;
  color: #0077AE;
  font-weight: 1000;
}

.lg-prev::before {
  content: '<';
  font-family: "Raleway", sans-serif;
  color: #0077AE;
  font-weight: 1000;
}

.lg-prev::after {
display: none;
}
</style>