<header class="header header--double">
  <h1><%= t('admin_nav.space_bookings') %></h1>
</header>

<section class="section section--12 section--double users">
	<table class="clear-admin-agent-styles table datatable table__icon--4">
		<thead>
			<tr class="table__head--wrap">
		    <th class="table__head col col--1"><%= tf('space_booking.created_at') %></th>
		    <th class="table__head col col--1"><%= tf('space_booking.for_space') %></th>
		    <th class="table__head col col--1"><%= tf('space_booking.organisation') %></th>
		    <th class="table__head col col--1"><%= tf('space_booking.full_name') %></th>
		    <th class="table__head col col--1"><%= tf('space_booking.status') %></th>
		    <th class="table__head col col--1"><%= t('actions') %></th>
		  </tr>
		</thead>

		<tbody>
			<% @space_bookings.each do |space_booking| %>
	  		<tr class="table__item--wrap">
		      <td class="table__item col col--1" data-sort="<%= space_booking.created_at.strftime('%Y%m%d') %>">
				<%= timestamp(space_booking.created_at) %>
		      </td>
		      <td class="table__item col col--1">
      	        <% if space_booking.space %>
		          <%= link_to space_booking.space.name, space_path(space_booking.space), class: 'link' %>
		        <% else %>
		          <em><%= t('space.deleted') %></em>
		        <% end %>
		      </td>
		      <td class="table__item col col--1">
		      	<%= space_booking.organisation %>
		      </td>
		      <td class="table__item col col--1">
				<%= space_booking.full_name %>
		      </td>
		      <td class="table__item col col--1">
		      	<%= t("space_booking.status.#{space_booking.status}") %>
		      </td>
		      <td class="table__item table__icon--wrap col col--1">	
					<%= link_to admin_space_booking_path(space_booking), class: "table__icon" do %>
						<%= inline_svg "icons/eye-ban-18.svg" %>
					<% end %>
		      </td>
				</tr>
		  <% end %>
		</tbody>
	</table>
</section>

<script>
	init_datatable({lang: "<%= I18n.locale %>"});
</script>
